<section class="bgfooter p-5 text-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 ">
                <p class="h2 d-flex justify-content-center">LOCATION</p>
                <p class="d-flex justify-content-center">2215 John Daniel Drive</p>
                <p class="d-flex justify-content-center">Clark, MO 65243</p>
            </div>
            <div class="col-sm-6 col-lg-4  ">
                <p class="h2 d-flex justify-content-center">AROUND THE WEB</p>
                
                <div _ngcontent-dkw-c21="" class="icons d-flex justify-content-center">

                <div class="circll d-flex align-items-center justify-content-center mx-1"><i _ngcontent-dkw-c21="" class="fa-brands fa-facebook mx-1 icon"></i></div>
                <div class="circll d-flex align-items-center justify-content-center mx-1"><i _ngcontent-dkw-c21="" class="fa-brands fa-twitter mx-1 icon"></i></div>
                <div class="circll d-flex align-items-center justify-content-center mx-1"><i _ngcontent-dkw-c21="" class="fa-brands fa-linkedin-in mx-1 icon"></i></div>
                <div class="circll d-flex align-items-center justify-content-center mx-1"><i _ngcontent-dkw-c21="" class="fa-solid fa-globe mx-1 icon"></i></div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 ">
                <p class="h2 d-flex justify-content-center">ABOUT FREELANCER</p>
                <p class="d-flex justify-content-center"> Freelance is a free to use, licensed Bootstrap </p>
            </div>
        </div>
    </div>
</section>
<section class="bgfoot na py-2 d-flex justify-content-center text-white">
    <p>Copyright © Your Website 2021</p>
</section>
