
<section class="bgContact py-5 d-flex justify-content-center align-items-center">
    <div class="container ">
        <h1 class="d-flex justify-content-center mb-3">conatct section</h1>
        <div _ngcontent-yem-c6="" class="d-flex align-items-center justify-content-center mb-5">
            <div _ngcontent-yem-c6="" class="line me-3 text-white" style="background-color: black;"></div>
            <i _ngcontent-yem-c6="" class="fa-solid fa-star"></i>
            <div _ngcontent-yem-c6="" class="line ms-3" style="background-color: black;"></div>
        </div>
<div class="d-flex flex-column justify-content-center w-50 m-auto p-2">
    
    <label for="" class="pb-3 text-info"  [class.d-none]="mod==''">user name</label>
    <input type="text" class="pb-2 mb-5 border border-top-0 border-end-0 border-start-0 rounded-2" placeholder="user name" [(ngModel)]="mod" >
    

    <label for="" class="pb-3 text-info" [class.d-none]="mood==''">user age</label>
    <input type="text" class="pb-2 mb-5 border border-top-0 border-end-0 border-start-0 rounded-2" placeholder="user age" [(ngModel)]="mood">

    <label for="" class="pb-3 text-info" [class.d-none]="moood==''">user email</label>
    <input type="text" class="pb-2 mb-5 border border-top-0 border-end-0 border-start-0 rounded-2" placeholder="user email" [(ngModel)]="moood">
 
    <label for="" class="pb-3 text-info" [class.d-none]="mooood==''">user password</label>
    <input type="text" class="pb-2 mb-2 border border-top-0 border-end-0 border-start-0 rounded-2" placeholder="user password" [(ngModel)]="mooood">

    <button _ngcontent-dkw-c16="" class="btn mt-4 text-white" style="background-color: #1abc9c; width: 150px;"> send Message </button>
</div>
    </div>
</section>
